p
{
  font-family: cursive;
  font-size: large;
  color: #0000ff;
}

h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  color: #00ffff
  /*text-decoration: underline;
  color: #ff0000;
  */
}

body {
  background-color: #000000;
  /*height:100%;
  margin:0;
  background-image: url("images/background.jpg");
  height: 100%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;*/
}

div.ex1 {
  overflow: scroll;
}